option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0edfc3ed09bc62a1e
    Subnets: subnet-0ee3630af49e199a1,subnet-00fc63c3a2ed6d6bb
    ELBSubnets: subnet-0ee3630af49e199a1,subnet-00fc63c3a2ed6d6bb
    AssociatePublicIpAddress: true
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-0c5a5ad2700303257
    IamInstanceProfile: taskmanagement-eb-ec2-role
